
import("grid")
import("polyclip")

export(## Main API
       "grid.vwline", "vwlineGrob",
       "grid.vwXspline", "vwXsplineGrob",
       "grid.brushXspline", "brushXsplineGrob",

       ## Specifying widths
       "widthSpline",

       ## Specifying brushes
       "verticalBrush", "circleBrush", "squareBrush",

       ## Rendering brushed paths
       "vwPolygon", "vwPath")

S3method("makeContent", "vwlineGrob")
S3method("makeContent", "vwXsplineGrob")
S3method("makeContent", "brushXsplineGrob")
