
import("polyclip")

export(## Main API
       "grid.vwline", "vwlineGrob",
       "grid.vwXspline", "vwXsplineGrob",
       "grid.brushline", "brushlineGrob",
       "grid.brushXspline", "brushXsplineGrob",

       ## Specifying widths
       "widthSpline",

       ## Specifying brushes
       "verticalBrush", "circleBrush", "squareBrush",

       ## Rendering brushed paths
       "vwPolygon", "vwPath",

       ## Querying grobs
       "edgePoints",
    
       ## Utilities
       "angle",
       "translation", "scaling", "rotation", "transformation", "transform",
       "placeBrush",
       "combineShapes")

S3method("makeContent", "vwlineGrob")
S3method("makeContent", "vwXsplineGrob")
S3method("makeContent", "brushXsplineGrob")
S3method("edgePoints", "vwlineGrob")
S3method("edgePoints", "vwXsplineGrob")
S3method("edgePoints", "brushXsplineGrob")
